<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- change file every day -->
			<fileNamePattern>
				${catalina.home:-.}/logs/%d{yyyy-MM-dd}/gospel-${spring.profiles.active:-development}.log
			</fileNamePattern>

			<!-- save file for one year period -->
			<maxHistory>365</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<include resource="logback-${spring.profiles.active:-development}.xml"/>

</configuration>

